.App {
  text-align: center;
}

.container {
  display: grid;
  background-color: lightgray;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LogIn {
  grid-area: LogIn;
}

.SignUp{
  grid-area: SignUp;
  display: flex;
  flex-direction: column;
}

.NoAccount {
  grid-area: NoAccount;
  display: flex;
}

.userText {
  color: red;
}
